<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>HostR Web</title>
		<link type="text/css" href="~/Content/Web.css" rel="stylesheet" />
	</head>
	<body>
		<h1>HostR Web</h1>
		<hr />
		<br />
		@RenderBody()
	</body>
</html>